{{#if this.hasShort}}
  <span {{on "click" (fn (mut this.showShort) (not this.showShort))}} aria-role="button">
    {{#if this.hasShort}}
      {{this.label}}
    {{else}}
      {{@uri}}
    {{/if}}
  </span>
  <a href={{@uri}}>[open]</a>
{{else}}
  <a href={{@uri}}>{{@uri}}</a>
{{/if}}
